<section class="vert-50">
  <div class="container">

    <div>
      <a ui-sref="doorbuster({ handle: 'statement-furniture-pieces' })" class="hover-pointer no-underline">
        <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479435037/doorbusters-1-sr.png' | cloudinaryResizeTo:1140:480 }}"
          class="full-width"
          alt="" />
      </a>
    </div>

  </div>
</section>

<section>
  <div class="container">
    <div class="row" ng-hide="home.ee.User.reading">
      <div class="col-sm-3 hidden-xs">
        <!-- <ee-sidebar></ee-sidebar> -->
        <!--shipping-->
        <div>
          <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1475888542/Free-Shipping-Square.jpg' | cloudinaryResizeTo:300:300:'pad' }}"
            class="full-width"
            alt="Free shipping on orders over $49">
        </div>
        <!--/shipping-->

        <!-- returns -->
        <div class="vert-25 margin-bottom-0">
          <a ui-sref="help" class="no-underline">
            <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1477065705/Easy-Returns-Square_xmtyzp.png' | cloudinaryResizeTo:300:300:'pad' }}"
              class="full-width"
              alt="Easy returns">
          </a>
        </div>
        <!--/returns-->
      </div>
      <div class="col-sm-9">
        <!--recommended_items-->
        <div class="recommended_items">
          <h2 class="title text-center">recommended doorbusters</h2>
          <div uib-carousel interval="3000" class="product-carousel" active="home.recommendedActive" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="group in home.ee.User.user.home_recommended.groups" class="carousel slide" index="$index">
              <div class="col-sm-4" ng-repeat="product in group">
                <ee-product-single product="product"></ee-product-single>
              </div>
            </div>
          </div>
        </div>
        <!--/recommended_items-->
      </div>
    </div>
  </div>
</section>

<section class="vert-50">
  <div class="container">
    <div class="vert-50 margin-top-0">
      <a ui-sref="doorbuster({ handle: 'signature-lighting' })" class="hover-pointer no-underline">
        <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479442653/doorbusters-2-sr.png' | cloudinaryResizeTo:1140:480 }}"
          class="full-width"
          alt="" />
      </a>
    </div>
    <div class="">
      <a ui-sref="doorbuster({ handle: 'steals-under-100' })" class="hover-pointer no-underline">
        <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479510039/doorbusters-3-sr.png' | cloudinaryResizeTo:1140:480 }}"
          class="full-width"
          alt="" />
      </a>
    </div>
  </div>
</div>

<section class="vert-50 margin-bottom-0">
  <div class="container">
    <div class="row" ng-hide="home.ee.User.reading">

      <div class="col-sm-12 padding-right">
        <!-- featured_items -->
        <div class="featured_items">
          <h2 class="title text-center">Featured Doorbusters</h2>
          <div class="col-sm-3"
            ng-repeat="product in home.ee.User.user.home_featured.rows"
            ng-if="$index < 8">
            <ee-product-single product="product"></ee-product-single>
          </div>
        </div>
        <!-- /featured_items -->

      </div>
    </div>
  </div>
</section>

<section class="vert-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <a ui-sref="doorbuster({ handle: 'statement-furniture-pieces' })"
          class="inline-block no-underline position-relative">
          <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479426205/doorbusters-1.jpg' | cloudinaryResizeTo:360:360:'fill' }}"
            class="full-width"/>
          <div class="position-absolute text-center pad-20"
            style="bottom: 20px; left: 10%; width: 80%; background: rgba(255,255,255,0.9)">
            <span style="font-size: 16px; color: #555;" class="font-weight-200">Statement Furniture</span>&nbsp;<i class="fa fa-fw fa-chevron-right"></i>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="doorbuster({ handle: 'signature-lighting' })"
          class="inline-block no-underline position-relative">
          <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479426275/doorbusters-2.jpg' | cloudinaryResizeTo:360:360:'fill' }}"
            class="full-width"/>
          <div class="position-absolute text-center pad-20"
            style="bottom: 20px; left: 10%; width: 80%; background: rgba(255,255,255,0.9)">
            <span style="font-size: 16px; color: #555;" class="font-weight-200">Signature Lighting</span>&nbsp;<i class="fa fa-fw fa-chevron-right"></i>
          </div>
        </a>
      </div>
      <div class="col-sm-4">
        <a ui-sref="doorbuster({ handle: 'steals-under-100' })"
          class="inline-block no-underline position-relative">
          <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1479426233/doorbusters-3.jpg' | cloudinaryResizeTo:360:360:'fill' }}"
            class="full-width"/>
          <div class="position-absolute text-center pad-20"
            style="bottom: 20px; left: 10%; width: 80%; background: rgba(255,255,255,0.9)">
            <span style="font-size: 16px; color: #555;" class="font-weight-200">Steals under $100</span>&nbsp;<i class="fa fa-fw fa-chevron-right"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

<ee-loading loading="home.ee.User.reading" ee-min-height="600"></ee-loading>
