<div class="container container-narrow vert-2 text-center">
  <img ng-src="{{ search.ee.Collection.collection.banner | cloudinaryResizeTo:425:250 }}" class="full-width max-width-400"/>
</div>

<div ng-if="search.ee.Products.products.length > 0" ng-hide="search.ee.Products.reading"
  class="container container-narrow vert-5 text-center">

  <div ng-if="search.ee.Products.count > search.ee.Products.inputs.perPage" class="margin-10">
    <uib-pagination
      total-items="search.ee.Products.count"
      items-per-page="search.ee.Products.inputs.perPage"
      ng-model="search.ee.Products.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="search.update()">
    </uib-pagination>
  </div>

  <ee-products-list
    products="search.ee.Products.products"
    show-signup=true>
  </ee-products-list>

  <div ng-if="search.ee.Products.count > search.ee.Products.inputs.perPage"
    class="pad-20 vert-20">
    <uib-pagination
      total-items="search.ee.Products.count"
      items-per-page="search.ee.Products.inputs.perPage"
      ng-model="search.ee.Products.inputs.page"
      max-size="5"
      class="pagination-sm margin-0 vertical-align-top"
      previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"
      boundary-links="true"
      rotate="false"
      ng-change="search.update()">
    </uib-pagination>
  </div>
</div>

<div ng-if="search.ee.Products.products.length <= 0"
  ng-hide="search.ee.Products.reading"
  class="container vert-20 text-center min-height-600">
  No results found
</div>

<ee-loading loading="search.ee.Products.reading"></ee-loading>
