<div ng-hide="favorite.ee.Favorites.reading"
  class="container container-narrow text-center vert-10 min-height-300">

  <div ng-show="favorite.ee.Favorites.uuid">
    <div ng-if="favorite.ee.Favorites.products.length > 0">
      <div class="vert-10 hover-pointer line-height-1"
        ng-click="favorite.copyToClipboard(favorite.absUrl)">
        Share your favorites link
        <br>
        <small>
          <span class="text-success"><i class="fa fa-fw fa-lg fa-copy"></i>&nbsp;{{ favorite.absUrl }}</span>
          <div ng-show="favorite.copiedToClipboard">copied to clipboard</div>
        </small>
      </div>
      <div class="margin-0-auto text-center" style="width: 290px">
        <div ng-click="favorite.openEmail(favorite.absUrl)"
          class="inline-block no-underline" target="_blank" rel="nofollow">
          <span class="fa-stack fa-lg hover-pointer">
            <i class="fa fa-circle fa-stack-2x text-muted"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </div>
        <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{ favorite.absUrl }}"
          class="no-underline" target="_blank" rel="nofollow">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x text-facebook"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <!-- TODO https://developers.pinterest.com/docs/widgets/pin-it/#custom -->
        <!-- <a ng-href="http://www.pinterest.com/pin/create/button/?url={{ favorite.absUrl }}&media=https://res.cloudinary.com/eeosk/image/upload/e_trim/c_lpad,w_280,h_80/v1462488274/logo_300x80/i9ncfyc8hwshqrppkl1c.jpg&description=My favorites on Stylish Rustic: {{ favorite.absUrl }}"
          class="no-underline" data-pin-do="buttonPin" data-pin-custom="true">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x text-pinterest"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
          </span>
        </a> -->
        <!-- <a ng-href="http://twitter.com/share?url={{ favorite.absUrl }}&text=My favorites on Stylish Rustic:"
          class="no-underline" target="_blank" rel="nofollow">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x text-twitter"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a> -->
      </div>
    </div>

    <div ng-if="favorite.ee.Favorites.products.length < 1" class="vert-20">
      <div class="full-width max-width-300 margin-0-auto">
        Add products to get your list started:
        <div class="vert-20">
          <a ng-repeat="category in favorite.categories"
            ui-sref="category({ id: category.id, title: (category.title | urlText) })"
            class="btn btn-themed margin-2"
            ng-bind="category.title">
          </a>
        </div>
      </div>
    </div>

    <div ng-click="favorite.fns.logout()"
      class="btn btn-xs btn-link vert-10" style="color: #777;">
      Sign out of your list
    </div>

  </div>

  <div ng-hide="favorite.ee.Favorites.uuid">
    <h2 class="vert-10 font-weight-200">Favorites</h2>
  </div>

  <ee-products-list
    products="favorite.ee.Favorites.products"
    show-signup=false>
  </ee-products-list>

</div>

<ee-loading loading="favorite.ee.Favorites.reading" ee-min-height="600"></ee-loading>
