<section class="vert-50 margin-top-0">
  <div class="container">

    <div class="vert-20 margin-top-0">
      <ee-product-breadcrumb product="product.data.product"></ee-product-breadcrumb>
    </div>

    <div class="row">
      <div class="col-sm-3">
        <ee-sidebar></ee-sidebar>
      </div>

      <div class="col-sm-9">
        <ee-product-detail
          ng-if="product.data.product.id"
          product="product.data.product"
          skus="product.data.product.skus"
          products="product.ee.Products.products">
        </ee-product-detail>

        <ee-loading loading="product.data.reading || product.ee.Products.reading" ee-min-height="600"></ee-loading>
      </div>
    </div>
  </div>
</section>

<!-- <div ng-hide="product.data.reading" class="container text-center vert-10">
  <ee-product-detail
    ng-if="product.data.product.id"
    product="product.data.product"
    skus="product.data.product.skus"
    products="product.ee.Products.products">
  </ee-product-detail>
</div>

<ee-loading loading="product.data.reading || product.ee.Products.reading" ee-min-height="600"></ee-loading> -->
