<!-- Carousel -->
<div class="container min-height-120">
  <div class="margin-0-auto" ng-if="home.ee.User.user.home_carousel.length > 0">
    <div uib-carousel interval=6000 active="home.carouselActive" class="collection-carousel margin-0">
      <div uib-slide ng-repeat="collection in home.ee.User.user.home_carousel" index="$index">
        <a ui-sref="collection({ id: collection.id })">
          <img ng-src="{{ collection.banner | cloudinaryResizeTo:1140:480:'fill' }}" class="full-width" style="margin:auto;">
          <!-- <img ng-src="{{ collection.banner | cloudinaryResizeTo:800:420:'fill' }}" class="full-width" style="margin:auto;"> -->
        </a>
      </div>
    </div>
  </div>
</div>
<!-- /Carousel -->

<section class="vert-50">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <!-- <ee-sidebar></ee-sidebar> -->
        <!--shipping-->
        <div class="vert-50 margin-bottom-0">
          <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1475888542/Free-Shipping-Square.jpg' | cloudinaryResizeTo:300:300:'pad' }}"
            class="full-width"
            alt="Free shipping on orders over $49">
        </div>
        <div class="vert-50 margin-bottom-0">
          <a ui-sref="help" class="no-underline">
            <img ng-src="{{ 'https://res.cloudinary.com/eeosk/image/upload/v1477064495/Easy-Returns-Square_yqgaka.png' | cloudinaryResizeTo:300:300:'pad' }}"
              class="full-width"
              alt="Easy returns">
          </a>
        </div>
        <!--/shipping-->
      </div>

      <div class="col-sm-9 padding-right" ng-hide="home.ee.User.reading">
        <!-- featured_items -->
        <div class="featured_items">
          <h2 class="title text-center">Featured Items</h2>
          <div class="col-sm-4"
            ng-repeat="product in home.ee.User.user.home_featured.rows"
            ng-if="$index < 6">
            <ee-product-single product="product"></ee-product-single>
          </div>
        </div>
        <!-- /featured_items -->

        <div class="vert-50 margin-top-0">
          <img ng-src="{{ home.ee.User.user.home_arranged[0].banner | cloudinaryResizeTo:1140:480:'fill' }}"
            ui-sref="collection({ id: home.ee.User.user.home_arranged[0].id })"
            class="full-width hover-pointer"/>
        </div>

        <!-- subcategories -->
        <div class="category-tab">
          <div class="col-sm-12">
            <div uib-tabset active="home.subtagActive">
              <div uib-tab ng-repeat="subtag in home.ee.User.user.home_subtags" index="$index" heading="{{ subtag.name + 's' }}">
                <span class="inline-block full-width pad-10 pad-top-0">
                  <a ui-sref="search({ q: subtag.name + 's' })" class="text-muted">
                    More like these<i class="fa fa-fw fa-angle-double-right"></i>
                  </a>
                </span>
                <div class="col-sm-3" ng-repeat="product in subtag.products">
                  <ee-product-single product="product" hide-extra=true></ee-product-single>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /subcategories -->

        <!--recommended_items-->
        <div class="recommended_items">
          <h2 class="title text-center">recommended items</h2>
          <div uib-carousel interval="3000" class="product-carousel" active="home.recommendedActive" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="group in home.ee.User.user.home_recommended.groups" class="carousel slide" index="$index">
              <div class="col-sm-4" ng-repeat="product in group">
                <ee-product-single product="product"></ee-product-single>
              </div>
            </div>
          </div>
        </div>
        <!--/recommended_items-->

        <div class="vert-50 margin-top-0">
          <img ng-src="{{ home.ee.User.user.home_arranged[1].banner | cloudinaryResizeTo:1140:480:'fill' }}"
            ui-sref="collection({ id: home.ee.User.user.home_arranged[1].id })"
            class="full-width hover-pointer"/>
        </div>
      </div>

      <div class="col-sm-9" ng-show="home.ee.User.reading">
        <ee-loading loading="home.ee.User.reading" ee-min-height="600"></ee-loading>
      </div>
    </div>
  </div>
</section>
