<div class="vert-5">
  <!-- banner -->
  <a ui-sref="collection({ id: collection.id })">
    <img ng-if="collection.banner && collection.show_banner" ng-src="{{ collection.banner }}" class="full-width vert-5">
  </a>
  <!-- /banner -->
  <!-- products -->
  <div ng-if="collection.products.length > 0 && !collection.show_banner" class="text-center">
    <div ng-repeat="product in collection.products"
      class="homepage-product text-left inline-block vertical-align-top">
      <ee-product-for-store product="product"></ee-product-for-store>
    </div>

    <div ng-show="collection.products.length == 8">
      <a class="btn btn-default vert-5 margin-bottom-0" ui-sref="collection({ id: collection.id })">More from this collection</a>
    </div>
  </div>
  <!-- /products -->
</div>
