<div>
  <div class="position-fixed top-right-bottom-left-0"
    style="right:0; top:0; bottom:0; left: 0; background: rgba(0,0,0,0.5); z-index: 3000;">
  </div>
  <div class="position-fixed pad-10"
    style="right: 330px; top: 0; z-index: 3002;">
    <i class="fa fa-2x fa-times hover-pointer"></i>
  </div>
  <div class="position-fixed bg-gray"
    style="right:0; top:0; bottom:0; width: 330px; z-index: 3001;">
    <div class="full-width bg-white pad-10">
      <div class="btn btn-lg btn-success btn-block">Continue to Cart</div>
    </div>
  </div>
</div>
