<div class="text-center bg-white">
  <span class="homepage-product inline-block vertical-align-top">
    <ee-product-for-store
      product="product"
      hide-sale=true
      hide-price=true
      hide-heart=true
      sku-link=true>
    </ee-product-for-store>
  </span>

  <span class="homepage-product inline-block vertical-align-top text-left"
    style="max-width: 48%;">
    <div class="position-relative bg-white pad-5 overflow-hidden"
      style="max-width: 218px;">
      <div ng-bind="product.title" class="line-height-1-1"></div>
      <div ng-if="product.skus.length == 1" class="vert-5">
        <h4 ng-bind="product.skus[0].price | centToDollar"
          class="inline-block margin-0" style="margin-right: 10px !important;">
        </h4>
        <h5 ng-if="product.skus[0].shipping_price > 0"
          class="inline-block margin-0 text-muted">
          <span ng-bind="product.skus[0].shipping_price | centToDollar"></span>&nbsp;s&h
        </h5>
        <h5 ng-if="product.skus[0].shipping_price == 0"
          class="inline-block margin-0 text-success">Free Shipping
        </h5>
        <!-- <ee-paypal-button></ee-paypal-button> -->
        <div class="btn btn-default btn-block vert-5" style="background-color: #FFBA1E;">Express Checkout</div>
        <div ng-if="product.skus[0].length || product.skus[0].width || product.skus[0].height">
          <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_30/v1447453155/ruler.png"
            class="hidden-xs"/>
          <span ng-if="product.skus[0].length">{{ product.skus[0].length }}"L </span>
          <strong ng-if="product.skus[0].length && product.skus[0].width">&times;</strong>
          <span ng-if="product.skus[0].width">{{ product.skus[0].width }}"W </span>
          <strong ng-if="product.skus[0].width && product.skus[0].height">&times;</strong>
          <span ng-if="product.skus[0].height">{{ product.skus[0].height }}"H </span>
        </div>
        <div>
          <a href class="text-dark-blue">More details</a>
        </div>
      </div>
      <div ng-if="product.skus.length > 1">

      </div>
    </div>
  </span>

</div>

<!-- Similar products -->
<div ng-if="products.length > 0" class="text-center">
  <h5 class="font-weight-200 text-center pad-5 border-bottom-gray">You might also like</h5>
  <ee-products-list
    products="products"
    show-signup=true>
  </ee-products-list>
  <a ui-sref="search({ q: product.title })" class="btn btn-themed vert-10">
    <i class="fa fa-search"></i>&nbsp;more like these
  </a>
</div>
<!-- /Similar products -->
