<!-- PRODUCT CARD -->
<div class="margin-0-auto text-left">

  <div>
    <div class="row">
      <div class="col col-sm-6 max-height-600">
        <ee-product-images product="product"></ee-product-images>
      </div>
      <div class="col col-sm-6 col-md-5">
        <div class="pad-10">
          <h1 ng-bind="product.title" class="vert-5 margin-top-0 font-weight-200" style="font-size: 18px;"></h1>
          <div ng-if="product.skus.length > 1">
            <h4 ng-bind="currentSku.selection_text" class="inline-block font-weight-200 margin-top-0" style="width: 85%;"></h4>
          </div>
          <a ng-if="currentSku.discounted" ui-sref="sale({ id: currentSku.discounted })" class="btn btn-themed btn-arrow">Sale</a>
          <div class="row">
            <div class="col col-xs-7">
              <h2 ng-bind="currentSku.price | centToDollar"
                class="margin-0 inline-block"
                style="font-size: 26px; margin-right: 12px !important;">
              </h2>
              <h5 ng-if="currentSku.shipping_price > 0"
                class="margin-0 text-muted inline-block">
                <span ng-bind="currentSku.shipping_price | centToDollar"></span>&nbsp;s&h
              </h5>
            </div>
            <div class="col col-xs-5">
              <h4 ng-if="currentSku.msrp && currentSku.price && currentSku.msrp > currentSku.price && msrpDiscount > 0.049"
                class="margin-0 pull-right text-info" style="line-height: 33px;">
                <span ng-bind="msrpDiscount | percentage:0"></span>&nbsp;off&nbsp;<s ng-bind="currentSku.msrp | centToDollar"></s>
              </h4>
            </div>
          </div>
          <h4 ng-if="currentSku.shipping_price == 0" class="vert-10 margin-top-0 text-success">
            Free Shipping
          </h4>

          <div class="vert-7">
            <div ng-if="currentSku.quantity > 0 && !currentSku.discontinued">
              <div class="btn btn-lg btn-block btn-default vert-10 margin-top-0"
                ng-disabled="disabled || adding"
                ng-click="addToCart(currentSku)">
                <i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Add to cart
              </div>
              <ee-paypal-button sku="currentSku"></ee-paypal-button>
            </div>
            <div class="btn btn-lg btn-info btn-block disabled" ng-if="currentSku.quantity < 1" disabled>Out of Stock</div>
            <div class="btn btn-lg btn-info btn-block disabled" ng-if="currentSku.discontinued" disabled>Discontinued</div>
          </div>
          <div class="text-center product-info">
            <h4 ng-if="currentSku.length || currentSku.width || currentSku.height"
              class="font-weight-200"
              style="margin-right: 12px;">
              <img src="https://res.cloudinary.com/eeosk/image/upload/c_scale,w_30/v1447453155/ruler.png"/>
              <span ng-if="currentSku.length">{{ currentSku.length }}"L </span>
              <strong ng-if="currentSku.length && currentSku.width">&times;</strong>
              <span ng-if="currentSku.width">{{ currentSku.width }}"W </span>
              <strong ng-if="currentSku.width && currentSku.height">&times;</strong>
              <span ng-if="currentSku.height">{{ currentSku.height }}"H </span>
            </h4>
            <ee-favorites-heart product-skus="product.skus" class="btn btn-default"></ee-favorites-heart>
            <h5 class="vert-5 font-weight-200">
              <a href ng-click="expanded = !expanded">
                Details<i class="fa fa-fw" ng-class="expanded ? 'fa-caret-up' : 'fa-caret-down'"></i>
              </a>
              &nbsp;&nbsp;
              Ships from USA
            </h5>
          </div>
        </div>
      </div>
    </div>

    <!-- Sku options -->
    <table ng-if="product.skus.length > 1" class="table table-striped table-condensed table-hover vert-20 margin-bottom-0">
      <thead>
        <tr>
          <th colspan=6>
            <div ng-bind="product.title" class="full-width"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="sku in product.skus"
            ng-if="!sku.discontinued"
            ng-class="{ success: sku.id == currentSku.id }"
            ng-click="setCurrentSku(sku)"
            class="hover-pointer">
          <td>
            <small ng-bind="sku.selection_text" class="inline-block line-height-1-1"></small>
          </td>
          <td>
            <small ng-bind="sku.price | centToDollar" class="inline-block line-height-1-1"></small>
          </td>
          <td>
            <small ng-if="sku.msrp && sku.price && sku.msrp > sku.price" class="inline-block line-height-1-1">
              <span class="text-muted"><s>{{ sku.msrp | centToDollar }}</s>&nbsp;</span>
              <span class="text-danger">{{ (sku.msrp - sku.price) / sku.msrp | percentage:0 }} Off</span>
            </small>
          </td>
          <td class="text-right">
            <div class="btn btn-default btn-xs" ng-disabled="disabled || adding">Select</div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /Sku options -->

    <!-- currentSku Details -->
    <div class="vert-10" id="details" ng-if="expanded">
      <!-- <h4 ng-bind="product.title" class="vert-5 pad-5 font-weight-200"></h4> -->
      <h4 ng-if="product.content" ng-bind="product.content" class="vert-5 margin-top-0 pad-5 font-weight-200" style="white-space: pre-line;"></h4>
      <h5 ng-if="currentSku.selection_text" ng-bind="currentSku.selection_text" class="vert-5 pad-5 font-weight-200"></h5>
      <table class="table table-condensed vert-5">
        <tr ng-if="currentSku.msrp && currentSku.msrp > currentSku.price">
          <td>MSRP</td><td ng-bind="currentSku.msrp | centToDollar"></td>
        </tr>
        <tr ng-if="currentSku.price">
          <td>Our price</td><td ng-bind="currentSku.price | centToDollar"></td>
        </tr>
        <tr ng-if="currentSku.shipping_price">
          <td>Est. shipping</td><td ng-bind="currentSku.shipping_price | centToDollar"></td>
        </tr>
        <tr ng-if="currentSku.shipping_from">
          <td>Country of origin</td><td ng-bind="currentSku.shipping_from"></td>
        </tr>
        <tr ng-if="false">
          <td>Ship weight</td><td><span ng-bind="currentSku.meta.shipping_weight"></span> lbs</td>
        </tr>
        <tr ng-if="currentSku.brand_name">
          <td>Brand</td><td ng-bind="currentSku.brand_name"></td>
        </tr>
        <tr ng-if="currentSku.manufacturer_name">
          <td>Made by</td><td ng-bind="currentSku.manufacturer_name"></td>
        </tr>
        <tr ng-if="currentSku.meta.condition">
          <td>Condition</td><td ng-bind="currentSku.meta.condition"></td>
        </tr>
        <tr ng-if="currentSku.style">
          <td>Style</td><td ng-bind="currentSku.style"></td>
        </tr>
        <tr ng-if="currentSku.color">
          <td>Color</td><td ng-bind="currentSku.color"></td>
        </tr>
        <tr ng-if="currentSku.material">
          <td>Material</td><td ng-bind="currentSku.material"></td>
        </tr>
        <tr ng-if="currentSku.weight">
          <td>Weight</td><td><span ng-bind="currentSku.weight"></span> lbs</td>
        </tr>
        <tr ng-if="currentSku.size">
          <td>Size</td><td ng-bind="currentSku.size"></td>
        </tr>
        <tr ng-if="currentSku.details">
          <td>Additional details</td><td ng-bind="currentSku.details"></td>
        </tr>
        <tr ng-if="currentSku.meta.warranty">
          <td>Warranty</td><td ng-bind="currentSku.meta.warranty"></td>
        </tr>
        <tr ng-repeat="pair in currentSku.meta.attributes.split('||')"
          ng-if="pair.split(':=')[0].slice(0,6) != 'Carton'">
          <td ng-bind="pair.split(':=')[0]"></td>
          <td ng-bind="pair.split(':=')[1]"></td>
        </tr>
      </table>
    </div>
    <!-- /currentSku details -->
  </div>

  <!-- Similar products -->
  <div class="vert-25 margin-bottom-0 text-center">
    <a ui-sref="search({ q: product.title })"
      class="inline-block text-center pad-5 vert-10 text-muted">
      <i class="fa fa-search"></i>&nbsp;<strong class="text-underline">You might also like</strong>
    </a>

    <div ng-if="products.length > 0">
      <ee-products-list
        products="products"
        show-signup=true>
      </ee-products-list>
      <a ui-sref="search({ q: product.title })" class="btn btn-themed vert-10">
        <i class="fa fa-search"></i>&nbsp;more like these
      </a>
    </div>

  </div>
  <!-- /Similar products -->

</div> <!-- /PRODUCT CARD -->
