<div class="container container-narrow border-bottom-gray">
  <div class="row vert-5">
    <div class="col col-xs-2 text-muted"></div>
    <div class="col col-xs-8 text-center">
      <h4 style="color: #6d6d6d;" class="font-weight-200 vert-5">
        <span ng-hide="showFavoritesMessage"
          uib-tooltip="Orders over $49 automatically receive free shipping."
          tooltip-placement="bottom">
          Free Shipping over $49
        </span>
        <span ng-show="showFavoritesMessage">
          <i class="fa fa-heart-o"></i> = Add to your favorites
        </span>
      </h4>
    </div>
    <div class="col col-xs-2">
      <a ui-sref="sale({ id: 13016 })"
        ng-hide="hideButtons"
        class="btn btn-themed btn-arrow pull-right"
        style="text-shadow: none; border-bottom-width: 1px !important;">
        Sale
      </a>
    </div>
  </div>
</div>
