<!-- Coupon Header -->
<div ng-if="couponData.coupon.uuid"
  class="full-width text-center bg-secondary"
  style="margin-top: -1px; padding-bottom: 2px;">
  <span class="inline-block bg-primary round-bottom"
    style="padding: 5px 15px; border: none !important;">
    <a ui-sref="cart" class="text-primary">
      <span ng-if="couponData.coupon.is_signup">Welcome!&nbsp;</span>
      <strong ng-if="couponData.coupon.off_text" ng-bind="couponData.coupon.off_text"></strong>
      &nbsp;applied at checkout&nbsp;
    </a>
  </span>
</div>
<!-- /Coupon Header -->

<!-- SR Nav -->
<nav class="navbar navbar-default bg-secondary round-0 margin-0 border-none">
  <div class="container container-narrow">
    <div class="margin-7">
      <!-- Logo -->
      <a ui-sref="storefront">
        <img ng-src="{{ user.logo | cloudinaryTrim }}"
          class="logo"/>
      </a>
      <!-- /Logo -->
      <div class="pull-right vert-10">

        <div class="hidden-xs">
          <h4 class="inline-block vert-10 text-right font-weight-200 text-secondary">
            Free Shipping over $49
          </h4>
          <a ui-sref="cart" class="text-secondary no-underline"
            style="margin: 0 5px 0 20px;">
            <i class="fa fa-2x fa-shopping-cart"></i>
          </a>
        </div>
        <small class="inline-block vert-5 text-right text-secondary line-height-1 visible-xs">
          Free Shipping<br>Over $49
        </small>
      </div>
    </div>
  </div>
</nav>
<div class="design-band bg-primary">
  <div class="container container-narrow">
    <div class="row">
      <div class="col-xs-4">
        <a href ng-click="sidenavOpen = true" class="text-primary no-underline">
          <i class="fa fa-2x fa-bars pad-10"></i>
        </a>
      </div>
      <div class="col-xs-4 text-center">
        <div ng-click="openSearchModal()" class="text-primary no-underline hover-pointer">
          <i class="fa fa-2x fa-search pad-10"></i>
        </div>
      </div>
      <div class="col-xs-4 text-right">
        <i class="fa fa-2x fa-heart pad-10 text-primary hover-pointer" ng-click="modalOrFavorites()"></i>
      </div>
    </div>
  </div>
</div>
<!-- /SR nav -->

<!-- SR Sidenav -->
<!-- closer -->
<div ng-show="sidenavOpen" ng-click="sidenavOpen = false"
  class="position-fixed top-left-bottom-right-0 bg-white opacity-05 hover-pointer"
  style="z-index: 3090">
</div>
<!-- /closer -->
<div class="nav-side transition-400 box-shadow bg-white"
  ng-class="{ open: sidenavOpen }">
  <div class="position-relative full-width">
    <nav class="navbar navbar-default round-0 margin-0 no-side-border text-center design-band">
      <div>
        <a href ng-click="sidenavOpen = false" class="pad-10 pull-right inline-block text-muted">
          <i class="fa fa-fw fa-2x fa-times" ng-style="{ color: user.storefront_meta.brand.color.tertiary }"></i>
        </a>
      </div>
    </nav>
    <div class="pad-20 pad-top-0">
      <ul class="nav navbar-nav">
        <!-- sale -->
        <li class="full-width">
          <a ui-sref="sale({ id: 13016 })" class="text-muted">Sale</a>
        </li>
        <!-- /sale -->
        <li class="full-width">
          <hr class="vert-5">
        </li>
        <!-- categories -->
        <li ng-repeat="category in categories">
        <a ui-sref="category({ id: category.id, title: (category.title | urlText) })"
            class="text-muted"
            ng-bind="category.title">
          </a>
        </li>
        <!-- /categories -->
        <li ng-if="categories.length > 0">
          <hr class="vert-5">
        </li>
        <!-- cart -->
        <li>
          <a ui-sref="cart" class="text-muted">Cart</a>
        </li>
        <!-- /cart -->
        <li>
          <hr class="vert-5">
        </li>
        <!-- blog -->
        <li ng-if="user.storefront_meta.blog.url">
          <a href="{{ user.storefront_meta.blog.url | addHttp }}" target="_blank" class="text-muted">Blog</a>
        </li>
        <!-- /blog -->
        <li ng-if="user.storefront_meta.blog.url">
          <hr class="vert-5">
        </li>
        <!-- help -->
        <li>
          <a ui-sref="help" class="text-muted">Help</a>
        </li>
        <!-- /help -->
        <li>
          <hr class="vert-5">
        </li>
        <!-- social media -->
        <li>
          <div class="pad-10">
            <a ng-repeat="site in ['facebook','pinterest','twitter','instagram']"
              ng-if="user.storefront_meta.audience.social[site]"
              href="https://{{ site }}.com/{{ user.storefront_meta.audience.social[site] }}" target="_blank"
              class="link-muted text-{{ site }} no-underline margin-2 margin-top-0 margin-bottom-0">
              <i class="fa fa-fw fa-2x fa-{{ site }} vertical-align-middle"></i>
            </a>
          </div>
        </li>
        <!-- /social media -->
      </ul>
    </div>
  </div>
</div>
<!-- /SR Sidenav -->
